<h2><%= @user[:name] %></h2>
<%= link_to "Logout", destroy_user_session_path, method: :delete %>
<%= link_to "Back", root_path %>

<p id="notice"><%= notice %></p>

<h4>Bookmarks</h4>

<% if @bookmarks.blank? %>
  Bookmarks not found
<% else %>
  <table>
    <thead>
      <tr>
        <!-- <th>Name</th> -->
        <!-- <th>Url</th> -->
        <!-- <th colspan="3"></th> -->
      </tr>
    </thead>

    <tbody>
      <% @bookmarks.each do |bookmark| %>
        <tr>
          <td><%= bookmark.name %></td>
          <td><%= bookmark.url %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
