<% unless current_user %> 
  <%= link_to "Continue with Facebook", user_facebook_omniauth_authorize_path, class: "fb" %>
<% else %>
  <h2><%= current_user[:name] %></h2>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>


  <p id="notice"><%= notice %></p>

<!--   <form id="search-bookmarks">
    <input type="text" class="search-bookmarks-input" placeholder="Search">
    <button type="submit" clas="search-bookmarks-submit">Search</button>
  </form> -->

  <h4>Bookmarks</h4>

  <% if @bookmarks.blank? %>
    Bookmarks not found
  <% else %>
    <table>
      <thead>
        <tr>
          <!-- <th>Title</th> -->
          <!-- <th>Url</th> -->
          <!-- <th colspan="3"></th> -->
        </tr>
      </thead>

      <tbody>
        <% @bookmarks.each do |bookmark| %>
          <tr>
            <td><%= bookmark.name %></td>
            <td><%= bookmark.url %></td>
            <td><%= link_to 'Show', bookmark %></td>
            <td><%= link_to 'Edit', edit_bookmark_path(bookmark) %></td>
            <td><%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <br>
  <%= link_to 'New bookmark', new_bookmark_path %>
  <br>

  <h4>Friends</h4>
  <% if @friends.blank? %>
    Friends not found
  <% else %>
    <table>
      <thead>
        <tr>
          <!-- <th>Name</th> -->
        </tr>
      </thead>

      <tbody>
        <% @friends.each do |friend| %>
          <tr>
            <td><%= link_to friend.name, user_friends_show_path(friend) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

<% end %>

